.name{
    color: grey;
}
.qualification{
    letter-spacing: 1px;
}

#coral{
    color: coral;
    text-align: left;
}
body{
    font-family:'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
}

.header{
    display: flex;
    align-items: center;
    
}
.face{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;


}
.mail{
    margin-left: 2em;
}
.title{
    flex: 3;
}
.line{
    border: 1px solid coral;
}
.head{
    font-family:'Courier New', Courier, monospace;
    min-width: 300px;
    font-size: 25px;
    font-weight: bold;
    color: coral;
    display: block;
}

.margin{
    margin-top: 2em;
}

#job{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 25px;
    
    
}
#job-1{
    font-weight:100;
    line-height: 25px;
    margin-bottom: 30px;
    color: grey;
}

#job-2{
    margin-top: 30px;
    margin-bottom: 30px;

}

button{
    background-color: yellow;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bolder;
}
button:hover{
    background-color: greenyellow;
    color: white;
}






























